<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <offline>false</offline>
    <profiles>
        <profile>
            <id>tencent</id>
            <repositories>
                <repository>
                    <id>tencent</id>
                    <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>tencent</id>
                    <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>devops</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
                <repository>
                    <id>devops</id>
                    <url>http://mirrors.devops.oa.com/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>

                <repository>
                    <id>devops-snapshots</id>
                    <url>http://mirrors.devops.oa.com/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>devops</id>
                    <url>http://mirrors.devops.oa.com/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>

                <pluginRepository>
                    <id>devops-snapshots</id>
                    <url>http://mirrors.devops.oa.com/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>tencent</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>{{TEAM_GK}}-{{PROJECT_NAME}}-{{REPO_NAME}}</id>
            <!--OA账号名、页面获取的令牌-->
            <username>{{MAVEN_USERNAME}}</username>
            <password>{{MAVEN_TOKEN}}</password>
        </server>
    </servers>
</settings>
